@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Contact List";
}
<div class="container">
    <div class="card-header">@ViewData["Title"]</div>

    <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ContactModal">
            Add New Contact
        </button>
        
        <table class="table" id="ContactTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Company</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>CreateDate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.Name</td>
                        <td>@e.LastName</td>
                        <td>@e.Company</td>
                        <td>@e.PhoneNumber</td>
                        <td>@e.Email</td>
                        <td>@e.Location</td>
                        <td>@e.Description</td>
                        <td>@e.CreateDate</td>
                        <td text-right">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button data-id="@e.Id" type="button" class="btn btn-info btnEdit" data-bs-toggle="modal" data-bs-target="#ContactModal">Edit</button>
                                <button data-id="@e.Id" type="button" class="btn btn-danger btnDelete"> Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ContactModal" tabindex="-1" aria-labelledby="ContactModalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ContactModalModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="studenteForm">
                <div class="form-group">
                    <label>Name</label>
                    <input type="hidden" id="hdnContactId" />
                    <input type="text" name="Name" id="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>LastName</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" name="Company" id="Company" class="form-control" />
                </div>
                <div class="form-group">
                    <label>PhoneNumber</label>
                    <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="Email" id="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" name="Location" id="Location" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" name="Description" id="Description" rows="8" class="form-control">
                    </textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<input type="button" id="btnGet" value="Get Current Time" />

@section Scripts {
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {
            //$("#ContactTable").DataTable();
            $("#btnUpdate").hide();

            $(".btnEdit").click(function () {

                $("#ContactModalLabel").text("Update Contact");
                $("#btnUpdate").show();
                $("#btnSave").hide();
                $("#ContactModal").show();
                ContactId = $(this).attr("data-id")

                $.ajax({
                    type: "GET",
                    url: "/Home/GetContact",
                    data: { id: ContactId },
                    dataType: 'JSON'
                }).done(function (data) {
                    if (data) {
                        $("#hdnContactId").val(data.id);
                        $("#Name").val(data.name);
                        $("#LastName").val(data.lastName);
                        $("#Company").val(data.company);
                        $("#PhoneNumber").val(data.phoneNumber);
                        $("#Email").val(data.email);
                        $("#Location").val(data.location);
                        $("#Description").val(data.description);
                    }
                });
            });
            

            $("#btnSave").click(function () {
                var jsonInput = {
                    Company: $("#Company").val(),
                    name: $("#Name").val(),
                    lastName: $("#LastName").val(),
                    
                    PhoneNumber: $("#PhoneNumber").val(),
                    Email: $("#Email").val(),
                    Location: $("#Location").val(),
                    Description: $("#Description").val()
                };                
                
                $.ajax({
                    type: "POST",
                    url: "/Home/AddContact",
                    contentType: 'application/x-www-form-urlencoded',
                   data: jsonInput                  
                  
                }).done(function (data) {
                    if (data) {
                        alert("Contact is saved!..");
                        window.location.reload();
                    }
                });
            });


            $("#btnUpdate").click(function () {

                var jsonInput = {
                    id: $("#hdnContactId").val(),
                    name: $("#Name").val(),
                    lastName: $("#LastName").val(),
                    company: $("#Company").val(),
                    phoneNumber: $("#PhoneNumber").val(),
                    email: $("#Email").val(),
                    location: $("#Location").val(),
                    description: $("#Description").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateContact",
                    contentType: 'application/x-www-form-urlencoded',
                   data: jsonInput   
                }).done(function (data) {
                    if (data) {
                        alert("Contact is updated!..");
                        window.location.reload();
                    }
                });
            });

            $(".btnDelete").click(function () {
                if (confirm('Are you sure you want to delete this?')) {
                $.ajax({
                    type: "POST",
                    url: "/Home/DeleteContact",
                    data: { id: $(this).attr("data-id") },

                    dataType: 'JSON'
                }).done(function (data) {
                    if (data) {
                        alert("Contact is deleted!..");
                        window.location.reload();
                    }
                });
                }
            });
        });

    </script>
}